openapi: 3.2.0
info:
  title: Agorapulse Organizations API
  description: '# Agorapulse API


    Welcome to the Agorapulse API.'
  version: '1.0'
  contact:
    name: Agorapulse API Support
    url: https://www.agorapulse.com
    email: support@agorapulse.com
  x-logo:
    url: docs/img/logo.svg
    altText: Agorapulse
servers:
- url: https://api.agorapulse.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Organizations
  description: List and access the organizations you belong to.
paths:
  /v1.0/core/organizations:
    get:
      tags:
      - Organizations
      summary: Get manager organizations
      description: List all organizations the manager belongs to
      operationId: getManagerOrganizations
      parameters:
      - name: v
        in: query
        description: API version
        schema:
          type: string
      responses:
        '200':
          description: List of the manager organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationListResponse'
components:
  schemas:
    OrganizationResponse:
      required:
      - managerOrganizationRole
      - organizationId
      - organizationName
      type: object
      properties:
        organizationId:
          type: integer
          format: int64
        organizationName:
          type: string
        managerOrganizationRole:
          type: string
          deprecated: true
      description: Single organization
    OrganizationListResponse:
      required:
      - organizations
      type: object
      properties:
        organizations:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationResponse'
      description: List of organizations
  securitySchemes:
    bearerAuth:
      type: apiKey
      name: X-API-KEY
      in: header
    HookSignature:
      description: 'The signature of the webhook request, used to verify the authenticity of the request.

        The signature is a SHA256 HMAC signature computed on the request body using the shared secret from your webhook subscription.

        '
      type: apiKey
      name: X-Hook-Signature
      in: header
x-tagGroups:
- name: Account & Workspaces
  tags:
  - Organizations
  - Workspaces
  - Profiles
  - Groups
- name: Publishing
  tags:
  - Drafts
  - Calendar notes
  - Pinterest boards
- name: Content Library
  tags:
  - Media
- name: Inbox & Engagement
  tags:
  - Conversations
  - Items
  - Replies
- name: Analytics & Reporting
  tags:
  - Reports
- name: System
  tags:
  - Health
