openapi: 3.2.0
info:
  title: Agorapulse Media API
  description: '# Agorapulse API


    Welcome to the Agorapulse API.'
  version: '1.0'
  contact:
    name: Agorapulse API Support
    url: https://www.agorapulse.com
    email: support@agorapulse.com
  x-logo:
    url: docs/img/logo.svg
    altText: Agorapulse
servers:
- url: https://api.agorapulse.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Media
  description: Upload media assets to your content library.
paths:
  /v1.0/publishing/organizations/{organizationId}/workspaces/{workspaceId}/media:
    post:
      tags:
      - Media
      summary: Create a media upload slot
      description: Generates a presigned upload URL and registers a media awaiting upload. Upload the file with a PUT request to uploadUrl before expiresAt, replaying every entry of requiredHeaders verbatim, Content-Type included. Then poll GET /media/{mediaUid} until the status is VALID, INVALID or EXPIRED, or subscribe to the PUBLISHING_MEDIA webhook, which fires with the terminal status.
      operationId: create
      parameters:
      - name: organizationId
        in: path
        description: Organization identifier
        required: true
        schema:
          type: integer
      - name: workspaceId
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: integer
      requestBody:
        description: Media to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMediaOpenRequest'
        required: true
      responses:
        '201':
          description: Media upload slot created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaOpenResponse'
        '400':
          description: Invalid or unsupported file name
  /v1.0/publishing/organizations/{organizationId}/workspaces/{workspaceId}/media/{mediaUid}:
    get:
      tags:
      - Media
      summary: Get media status
      description: Returns the current status and, once probed, the technical metadata of a media
      operationId: get
      parameters:
      - name: organizationId
        in: path
        description: Organization identifier
        required: true
        schema:
          type: integer
      - name: workspaceId
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: integer
      - name: mediaUid
        in: path
        description: Media identifier
        required: true
      responses:
        '200':
          description: Media found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaStatusOpenResponse'
        '404':
          description: Media not found
        '410':
          description: Media has expired
  /v1.0/library/organizations/{organizationId}/workspaces/{workspaceId}/studio/media/upload:
    post:
      tags:
      - Media
      summary: Request a presigned upload URL for studio media
      description: Returns a presigned S3 PUT URL that can be used to upload a media file directly to S3
      operationId: requestUpload
      parameters:
      - name: organizationId
        in: path
        description: Organization identifier
        required: true
      - name: workspaceId
        in: path
        description: Workspace identifier
        required: true
      requestBody:
        description: Upload request details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudioMediaUploadOpenRequest'
        required: true
      responses:
        '201':
          description: Presigned upload URL generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioMediaUploadOpenResponse'
        '400':
          description: Invalid request data
        '404':
          description: Organization or workspace not found
components:
  schemas:
    StudioMediaUploadOpenResponse:
      type: object
      properties:
        uploadUrl:
          type: string
          description: Presigned PUT URL - upload file with HTTP PUT to this URL
        filename:
          type: string
          description: S3 object key
        publicUrl:
          type: string
          description: CDN URL to access the uploaded file
        baseUrl:
          type: string
          description: S3 URL to access the uploaded file
        expiresInSeconds:
          type: integer
          description: URL expiration in seconds
          format: int32
        requiredHeaders:
          type: object
          additionalProperties:
            type: string
          description: Headers the client MUST include in the PUT upload request
      description: Presigned URL for direct S3 upload
    PublishingApiMediaMetadata:
      type: object
      properties:
        width:
          type: integer
          format: int32
        height:
          type: integer
          format: int32
        durationSeconds:
          type: number
          format: double
        sizeBytes:
          type: integer
          format: int64
        format:
          type: string
        animated:
          type: boolean
        rotation:
          type: integer
          format: int32
      description: Probed technical metadata, null until the media has been probed
    PublishingApiMediaError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    NetworkCompatibility:
      required:
      - issues
      - surfaces
      type: object
      properties:
        surfaces:
          type: object
          additionalProperties:
            type: string
          description: OK/KO verdict keyed by surface name
        issues:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: offending media-rule messages keyed by surface name, present only for surfaces marked KO
      description: 'Per-network media compatibility verdict, one entry per surface variant the network exposes: `feed`/ `story`/`reel` for Facebook and Instagram, `default` for every other network.'
    MediaOpenResponse:
      type: object
      properties:
        mediaUid:
          type: string
          description: Unique identifier of the media
          example: pubmedia_abc123
        uploadUrl:
          type: string
          description: Presigned S3 URL to PUT the file to. Every header listed in requiredHeaders is part of the URL signature, so the PUT is rejected with a 403 unless all of them are replayed verbatim.
        requiredHeaders:
          type: object
          additionalProperties:
            type: string
          description: 'Headers that must be replayed verbatim on the PUT upload request, Content-Type included. Do not derive Content-Type yourself: it is signed from the declared file extension and some extensions map to a non-obvious type (.flv is signed as video/flv, not video/x-flv).'
        mediaUrl:
          type: string
          description: Public URL the media will be available at once uploaded
        status:
          type: object
          description: Current status of the media
          allOf:
          - $ref: '#/components/schemas/PublishingApiMediaStatus'
          - type: object
        expiresAt:
          type: string
          description: Expiration timestamp of the presigned upload URL
          format: date-time
      description: Presigned upload slot for a media file
    PublishingApiMediaStatus:
      type: string
      description: Current status of the media
      enum:
      - AWAITING_UPLOAD
      - PROCESSING
      - VALID
      - INVALID
      - EXPIRED
    StudioMediaUploadOpenRequest:
      required:
      - contentType
      - extension
      - fileSize
      - origin
      type: object
      properties:
        extension:
          minLength: 1
          type: string
          description: File extension
          example: jpg
        fileSize:
          minimum: 0
          exclusiveMinimum: true
          type: integer
          description: File size in bytes
          format: int64
          example: 1048576
        contentType:
          minLength: 1
          type: string
          description: Content type (MIME)
          example: image/jpeg
        origin:
          minLength: 1
          type: string
          description: Origin of the upload request
          example: lovable
        contentStudioSessionId:
          type: string
          description: Optional Content Studio session ID for grouping uploads
          nullable: true
      description: Request to obtain a presigned upload URL for a studio media
    MediaStatusOpenResponse:
      type: object
      properties:
        mediaUid:
          type: string
          description: Unique identifier of the media
          example: pubmedia_abc123
        mediaUrl:
          type: string
          description: Public URL of the media
        status:
          type: object
          description: Current status of the media
          allOf:
          - $ref: '#/components/schemas/PublishingApiMediaStatus'
          - type: object
        mediaType:
          type: string
          description: '"IMAGE" or "VIDEO"'
          example: IMAGE
        metadata:
          type: object
          description: Probed technical metadata, null until the media has been probed
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PublishingApiMediaMetadata'
          - type: object
        errors:
          type: array
          description: Validation errors found while probing the media, empty when valid
          items:
            $ref: '#/components/schemas/PublishingApiMediaError'
        compatibility:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/NetworkCompatibility'
          description: Per-network media compatibility check, keyed by account type; null until the media is VALID
          nullable: true
      description: Status and metadata of a media
    CreateMediaOpenRequest:
      required:
      - fileName
      type: object
      properties:
        fileName:
          minLength: 1
          type: string
          description: File name with extension, e.g. clip.mp4
          example: clip.mp4
      description: Request to create a media upload slot
  securitySchemes:
    bearerAuth:
      type: apiKey
      name: X-API-KEY
      in: header
    HookSignature:
      description: 'The signature of the webhook request, used to verify the authenticity of the request.

        The signature is a SHA256 HMAC signature computed on the request body using the shared secret from your webhook subscription.

        '
      type: apiKey
      name: X-Hook-Signature
      in: header
x-tagGroups:
- name: Account & Workspaces
  tags:
  - Organizations
  - Workspaces
  - Profiles
  - Groups
- name: Publishing
  tags:
  - Drafts
  - Calendar notes
  - Pinterest boards
- name: Content Library
  tags:
  - Media
- name: Inbox & Engagement
  tags:
  - Conversations
  - Items
  - Replies
- name: Analytics & Reporting
  tags:
  - Reports
- name: System
  tags:
  - Health
