openapi: 3.2.0
info:
  title: Agorapulse Calendar notes API
  version: '1.0'
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  description: 'Operations tagged Calendar notes across 2 of this provider''s published API definitions: agorapulse-open-api-openapi.yml, agorapulse-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.agorapulse.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Calendar notes
  description: Annotate your publishing calendar with notes.
paths:
  /v1.0/publishing/organizations/{organizationId}/workspaces/{workspaceId}/notes:
    get:
      tags:
      - Calendar notes
      summary: Search calendar notes
      description: Search and filter calendar notes in the specified workspace
      operationId: search
      parameters:
      - name: organizationId
        in: path
        description: Organization identifier
        required: true
        schema:
          type: integer
      - name: workspaceId
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: integer
      - name: since
        in: query
        description: Filter notes after this date (ISO date)
        schema:
          type: string
          format: date
      - name: until
        in: query
        description: Filter notes before this date (ISO date)
        schema:
          type: string
          format: date
      - name: profileUids
        in: query
        description: Filter by profile UIDs
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Calendar notes retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCalendarNoteOpenResponse'
        '400':
          description: Invalid search parameters
        '404':
          description: Organization or workspace not found
    post:
      tags:
      - Calendar notes
      summary: Create a new calendar note
      description: Creates a new calendar note in the specified content
      operationId: save
      parameters:
      - name: organizationId
        in: path
        description: Organization identifier
        required: true
        schema:
          type: integer
      - name: workspaceId
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: integer
      requestBody:
        description: Calendar note to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCalendarNoteOpenRequest'
        required: true
      responses:
        '201':
          description: Calendar note created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCalendarNoteOpenResponse'
        '400':
          description: Invalid request data
        '404':
          description: Organization or workspace not found
    servers:
    - url: https://api.agorapulse.com
      description: Production
  /v1.0/publishing/organizations/{organizationId}/workspaces/{workspaceId}/notes/{uid}:
    put:
      tags:
      - Calendar notes
      summary: Update a calendar note
      description: Updates an existing calendar note with new data
      operationId: update
      parameters:
      - name: organizationId
        in: path
        description: Organization identifier
        required: true
        schema:
          type: integer
      - name: workspaceId
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: integer
      - name: uid
        in: path
        description: Calendar note unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: Updated calendar note data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCalendarNoteOpenRequest'
        required: true
      responses:
        '200':
          description: Calendar note updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCalendarNoteOpenResponse'
        '400':
          description: Invalid request data
        '403':
          description: Insufficient permissions to update the note
        '404':
          description: Calendar note, organization, or workspace not found
    delete:
      tags:
      - Calendar notes
      summary: Delete a calendar note
      description: Deletes a calendar note by its UID
      operationId: delete
      parameters:
      - name: organizationId
        in: path
        description: Organization identifier
        required: true
        schema:
          type: integer
      - name: workspaceId
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: integer
      - name: uid
        in: path
        description: Calendar note unique identifier
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Calendar note deleted successfully
        '403':
          description: Insufficient permissions to delete the note
        '404':
          description: Calendar note, organization, or workspace not found
    servers:
    - url: https://api.agorapulse.com
      description: Production
components:
  schemas:
    SearchCalendarNoteOpenRequest:
      type: object
      properties:
        since:
          type: string
          description: Filter notes after this timestamp
          format: date-time
          example: '2024-01-01T00:00:00.000Z'
        until:
          type: string
          description: Filter notes before this timestamp
          format: date-time
          example: '2024-12-31T23:59:59.000Z'
        profileUids:
          type: array
          description: Filter by specific profile UIDs
          example:
          - profile_123
          - profile_456
          items:
            type: string
      description: Request to search calendar notes with filtering options
    CreateCalendarNoteOpenRequest:
      required:
      - color
      - endDate
      - startDate
      - title
      type: object
      properties:
        title:
          minLength: 1
          type: string
          description: Note title
          example: Team Meeting
          x-size-message: Title is required
        body:
          type: string
          description: Note body content
          example: Discuss quarterly goals and roadmap
        color:
          $ref: '#/components/schemas/PublishingCalendarNoteColor'
        startDate:
          type: string
          description: Note start date
          format: date
          example: '2024-01-15T00:00:00.000Z'
          x-not-null-message: Start date is required
        endDate:
          type: string
          description: Note end date
          format: date
          example: '2024-01-15T00:00:00.000Z'
          x-not-null-message: End date is required
        profileUids:
          type: array
          description: List of profile UIDs associated with the note
          items:
            type: string
      description: Request to create or update a calendar note
    PublishingCalendarNoteColor:
      type: string
      enum:
      - BLUE
      - RED
      - YELLOW
      - GREEN
      - PURPLE
      - PINK
      - ORANGE
      - MINT
      - CYAN
      - GREY
    SearchCalendarNoteOpenResponse:
      required:
      - query
      type: object
      properties:
        notes:
          type: array
          description: List of calendar notes matching the search criteria
          items:
            $ref: '#/components/schemas/SearchCalendarNoteOpenResponse.CalendarNoteOpenItem'
        query:
          $ref: '#/components/schemas/SearchCalendarNoteOpenRequest'
      description: Response containing search results for calendar notes
    CreateCalendarNoteOpenResponse:
      required:
      - color
      type: object
      properties:
        uid:
          type: string
          description: Unique identifier of the calendar note
        title:
          type: string
          description: Note title
          example: Team Meeting
        body:
          type: string
          description: Note body content
          example: Discuss quarterly goals and roadmap
        color:
          $ref: '#/components/schemas/PublishingCalendarNoteColor'
        startDate:
          type: string
          description: Note start date
          format: date
          example: '2024-01-15T00:00:00.000Z'
        endDate:
          type: string
          description: Note end date
          format: date
          example: '2024-01-15T00:00:00.000Z'
        profileUids:
          type: array
          description: List of profile UIDs associated with the note
          items:
            type: string
      description: Response containing calendar note details
    SearchCalendarNoteOpenResponse.CalendarNoteOpenItem:
      required:
      - color
      type: object
      properties:
        uid:
          type: string
          description: Unique identifier of the calendar note
        title:
          type: string
          description: Note title
          example: Team Meeting
        body:
          type: string
          description: Note body content
          example: Discuss quarterly goals and roadmap
        color:
          $ref: '#/components/schemas/PublishingCalendarNoteColor'
        startDate:
          type: string
          description: Note start date
          format: date
          example: '2024-01-15T00:00:00.000Z'
        endDate:
          type: string
          description: Note end date
          format: date
          example: '2024-01-15T00:00:00.000Z'
        profileUids:
          type: array
          description: List of profile UIDs associated with the note
          items:
            type: string
      description: Calendar note information in search results
    CreateCalendarNoteOpenRequest_2:
      required:
      - color
      - endDate
      - startDate
      - title
      type: object
      properties:
        title:
          minLength: 1
          type: string
          description: Note title
          example: Team Meeting
          x-size-message: Title is required
        body:
          type: string
          description: Note body content
          example: Discuss quarterly goals and roadmap
        color:
          type: object
          description: Note color for calendar display
          allOf:
          - $ref: '#/components/schemas/PublishingCalendarNoteColor'
          - type: object
          x-not-null-message: Color is required
        startDate:
          type: string
          description: Note start date
          format: date
          example: '2024-01-15T00:00:00.000Z'
          x-not-null-message: Start date is required
        endDate:
          type: string
          description: Note end date
          format: date
          example: '2024-01-15T00:00:00.000Z'
          x-not-null-message: End date is required
        profileUids:
          type: array
          description: List of profile UIDs associated with the note
          items:
            type: string
      description: Request to create or update a calendar note
    SearchCalendarNoteOpenResponse_2:
      type: object
      properties:
        notes:
          type: array
          description: List of calendar notes matching the search criteria
          items:
            $ref: '#/components/schemas/SearchCalendarNoteOpenResponse.CalendarNoteOpenItem_2'
        query:
          type: object
          description: Query parameters used for the search
          allOf:
          - $ref: '#/components/schemas/SearchCalendarNoteOpenRequest'
          - type: object
      description: Response containing search results for calendar notes
    CreateCalendarNoteOpenResponse_2:
      type: object
      properties:
        uid:
          type: string
          description: Unique identifier of the calendar note
        title:
          type: string
          description: Note title
          example: Team Meeting
        body:
          type: string
          description: Note body content
          example: Discuss quarterly goals and roadmap
        color:
          type: object
          description: Note color for calendar display
          allOf:
          - $ref: '#/components/schemas/PublishingCalendarNoteColor'
          - type: object
        startDate:
          type: string
          description: Note start date
          format: date
          example: '2024-01-15T00:00:00.000Z'
        endDate:
          type: string
          description: Note end date
          format: date
          example: '2024-01-15T00:00:00.000Z'
        profileUids:
          type: array
          description: List of profile UIDs associated with the note
          items:
            type: string
      description: Response containing calendar note details
    SearchCalendarNoteOpenResponse.CalendarNoteOpenItem_2:
      type: object
      properties:
        uid:
          type: string
          description: Unique identifier of the calendar note
        title:
          type: string
          description: Note title
          example: Team Meeting
        body:
          type: string
          description: Note body content
          example: Discuss quarterly goals and roadmap
        color:
          type: object
          description: Note color for calendar display
          allOf:
          - $ref: '#/components/schemas/PublishingCalendarNoteColor'
          - type: object
        startDate:
          type: string
          description: Note start date
          format: date
          example: '2024-01-15T00:00:00.000Z'
        endDate:
          type: string
          description: Note end date
          format: date
          example: '2024-01-15T00:00:00.000Z'
        profileUids:
          type: array
          description: List of profile UIDs associated with the note
          items:
            type: string
      description: Calendar note information in search results
  securitySchemes:
    bearerAuth:
      type: apiKey
      name: X-API-KEY
      in: header
    HookSignature:
      description: 'The signature of the webhook request, used to verify the authenticity of the request.

        The signature is a SHA256 HMAC signature computed on the request body using the shared secret from your webhook subscription.

        '
      type: apiKey
      name: X-Hook-Signature
      in: header
x-refined-from:
- agorapulse-open-api-openapi.yml
- agorapulse-openapi.yml
x-tagGroups:
- name: Account & Workspaces
  tags:
  - Organizations
  - Workspaces
  - Profiles
  - Groups
- name: Publishing
  tags:
  - Drafts
  - Calendar notes
  - Pinterest boards
- name: Content Library
  tags:
  - Media
- name: Inbox & Engagement
  tags:
  - Conversations
  - Items
  - Replies
- name: Analytics & Reporting
  tags:
  - Reports
- name: System
  tags:
  - Health
