openapi: 3.2.0
info:
  title: Agorapulse Pinterest boards API
  description: "# Agorapulse API\n\nWelcome to the Agorapulse API. Use it to manage publishing, social inbox conversations, analytics and your content library programmatically.\n\nThe API is organized around REST, uses resource-oriented URLs, returns JSON, and relies on standard HTTP response codes and verbs.\n\n## Base URL\n\nAll requests go to the base URL shown in the **Server** selector, and every endpoint is versioned under a `/v1.0/` prefix.\n\n## Authentication\n\nThe API authenticates requests with an **API key** sent in the `X-API-KEY` HTTP header. Every request must include it:\n\n```http\nGET /v1.0/core/organizations HTTP/1.1\nHost: api.agorapulse.com\nX-API-KEY: your-api-key\n```\n\n```bash\ncurl https://api.agorapulse.com/v1.0/core/organizations \\\n  -H \"X-API-KEY: your-api-key\"\n```\n\nKeep your API key secret: it grants access to your account's data. Requests without a valid key return `401 Unauthorized`.\n\n## Resource hierarchy\n\nMost resources are nested under an organization and a workspace:\n\n```\n/v1.0/<domain>/organizations/{organizationId}/workspaces/{workspaceId}/...\n```\n\nStart from `GET /v1.0/core/organizations` to discover your organizations, then list their workspaces and profiles.\n\n## Errors\n\nThe API uses conventional HTTP status codes: `2xx` for success, `4xx` for client errors (a missing or invalid parameter, an unknown resource, a missing API key), and `5xx` for server errors.\n\nError responses carry a JSON body describing the problem, except for `405`, `406` and `415`, which answer with a status only:\n\n```json\n{\n  \"code\": 1005,\n  \"subCode\": 1104,\n  \"message\": \"Media not found: pubmedia_abc123\"\n}\n```\n\n`code` identifies the error family: either a global one (`1` internal, `2` unauthorized, `3` rate limit exceeded, `4` unprocessable input, `5` validation failed), or the component that produced the error. That component is usually the feature you addressed, but not always — a request whose path matches no endpoint is rejected by the API gateway itself and carries the gateway's own code, `1013`, whichever feature the path pointed at. `subCode` is optional and, when present, pinpoints the exact cause within that component; the endpoints that return one document its values. `message` is a human-readable explanation and is not meant to be parsed.\n\n## Webhooks\n\nAgorapulse can push events to your endpoints. See the **Webhooks** section for the available events (for example `PUBLISHING_POST` and `INBOX_ITEM`) and their payloads.\n"
  version: '1.0'
  contact:
    name: Agorapulse API Support
    url: https://www.agorapulse.com
    email: support@agorapulse.com
  x-logo:
    url: docs/img/logo.svg
    altText: Agorapulse
servers:
- url: https://api.agorapulse.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Pinterest boards
  description: List a Pinterest profile's boards to obtain the board id a pin requires.
paths:
  /v1.0/publishing/organizations/{organizationId}/workspaces/{workspaceId}/profiles/{profileUid}/pinterest/boards:
    get:
      tags:
      - Pinterest boards
      summary: List a Pinterest profile's boards
      description: Lists the boards a Pinterest profile can publish to, so that an id from the response can be passed as networks.pinterest.boardId when scheduling or publishing. Pinterest rejects a post without a board, and a board id cannot be guessed, so this endpoint is the way to obtain one. Boards are read live from Pinterest on every call.
      operationId: list
      parameters:
      - name: organizationId
        in: path
        description: Organization identifier
        required: true
        schema:
          type: integer
      - name: workspaceId
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: integer
      - name: profileUid
        in: path
        description: Pinterest profile identifier, as returned by the profiles endpoint
        required: true
      responses:
        '200':
          description: Boards retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinterestBoardListOpenResponse'
        '400':
          description: The profile is not in the workspace, is not a Pinterest profile, or has no usable Pinterest token
components:
  schemas:
    PinterestBoardOpenItem:
      type: object
      properties:
        id:
          type: string
          description: Board identifier, to be used as networks.pinterest.boardId when publishing
          example: '1234567890123456789'
        name:
          type: string
          description: Name of the board
          example: Summer collection
        description:
          type: string
          description: Description of the board
          example: Inspiration for the summer campaign
      description: Pinterest board a profile can publish to
    PinterestBoardListOpenResponse:
      type: object
      properties:
        boards:
          type: array
          description: Every public board of the profile. Pinterest rejects publishing to a secret board, so secret boards are omitted rather than returned and refused later.
          items:
            $ref: '#/components/schemas/PinterestBoardOpenItem'
      description: Boards of a Pinterest profile
  securitySchemes:
    bearerAuth:
      type: apiKey
      name: X-API-KEY
      in: header
    HookSignature:
      description: 'The signature of the webhook request, used to verify the authenticity of the request.

        The signature is a SHA256 HMAC signature computed on the request body using the shared secret from your webhook subscription.

        '
      type: apiKey
      name: X-Hook-Signature
      in: header
x-tagGroups:
- name: Account & Workspaces
  tags:
  - Organizations
  - Workspaces
  - Profiles
  - Groups
- name: Publishing
  tags:
  - Drafts
  - Calendar notes
  - Pinterest boards
- name: Content Library
  tags:
  - Media
- name: Inbox & Engagement
  tags:
  - Conversations
  - Items
  - Replies
- name: Analytics & Reporting
  tags:
  - Reports
- name: System
  tags:
  - Health
