openapi: 3.2.0
info:
  title: Agorapulse Groups API
  description: '# Agorapulse API


    Welcome to the Agorapulse API.'
  version: '1.0'
  contact:
    name: Agorapulse API Support
    url: https://www.agorapulse.com
    email: support@agorapulse.com
  x-logo:
    url: docs/img/logo.svg
    altText: Agorapulse
servers:
- url: https://api.agorapulse.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Groups
  description: Folders that organize a workspace's social profiles, with the profiles each contains.
paths:
  /v1.0/core/organizations/{organizationId}/workspaces/{workspaceId}/menugroups:
    get:
      tags:
      - Groups
      summary: List workspace menu groups
      description: List all menu groups in a workspace, including empty ones, with the profiles they contain
      operationId: listWorkspaceMenuGroups
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: Workspace id
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: API version
        schema:
          type: string
      responses:
        '200':
          description: List of the workspace menu groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuGroupListResponse'
components:
  schemas:
    MenuGroupResponse:
      required:
      - groupId
      - groupName
      - profileUids
      type: object
      properties:
        groupId:
          type: integer
          format: int64
        groupName:
          type: string
        profileUids:
          type: array
          items:
            type: string
      description: Single menu group with the profiles it contains
    MenuGroupListResponse:
      required:
      - menuGroups
      type: object
      properties:
        menuGroups:
          type: array
          items:
            $ref: '#/components/schemas/MenuGroupResponse'
      description: List of workspace menu groups
  securitySchemes:
    bearerAuth:
      type: apiKey
      name: X-API-KEY
      in: header
    HookSignature:
      description: 'The signature of the webhook request, used to verify the authenticity of the request.

        The signature is a SHA256 HMAC signature computed on the request body using the shared secret from your webhook subscription.

        '
      type: apiKey
      name: X-Hook-Signature
      in: header
x-tagGroups:
- name: Account & Workspaces
  tags:
  - Organizations
  - Workspaces
  - Profiles
  - Groups
- name: Publishing
  tags:
  - Drafts
  - Calendar notes
  - Pinterest boards
- name: Content Library
  tags:
  - Media
- name: Inbox & Engagement
  tags:
  - Conversations
  - Items
  - Replies
- name: Analytics & Reporting
  tags:
  - Reports
- name: System
  tags:
  - Health
