openapi: 3.2.0
info:
  title: Agorapulse Pinterest boards API
  description: '# Agorapulse API


    Welcome to the Agorapulse API.'
  version: '1.0'
  contact:
    name: Agorapulse API Support
    url: https://www.agorapulse.com
    email: support@agorapulse.com
  x-logo:
    url: docs/img/logo.svg
    altText: Agorapulse
servers:
- url: https://api.agorapulse.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Pinterest boards
  description: List a Pinterest profile's boards to obtain the board id a pin requires.
paths:
  /v1.0/publishing/organizations/{organizationId}/workspaces/{workspaceId}/profiles/{profileUid}/pinterest/boards:
    get:
      tags:
      - Pinterest boards
      summary: List a Pinterest profile's boards
      description: Lists the boards a Pinterest profile can publish to, so that an id from the response can be passed as networks.pinterest.boardId when scheduling or publishing. Pinterest rejects a post without a board, and a board id cannot be guessed, so this endpoint is the way to obtain one. Boards are read live from Pinterest on every call.
      operationId: list
      parameters:
      - name: organizationId
        in: path
        description: Organization identifier
        required: true
        schema:
          type: integer
      - name: workspaceId
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: integer
      - name: profileUid
        in: path
        description: Pinterest profile identifier, as returned by the profiles endpoint
        required: true
      responses:
        '200':
          description: Boards retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinterestBoardListOpenResponse'
        '400':
          description: The profile is not in the workspace, is not a Pinterest profile, or has no usable Pinterest token
components:
  schemas:
    PinterestBoardOpenItem:
      type: object
      properties:
        id:
          type: string
          description: Board identifier, to be used as networks.pinterest.boardId when publishing
          example: '1234567890123456789'
        name:
          type: string
          description: Name of the board
          example: Summer collection
        description:
          type: string
          description: Description of the board
          example: Inspiration for the summer campaign
      description: Pinterest board a profile can publish to
    PinterestBoardListOpenResponse:
      type: object
      properties:
        boards:
          type: array
          description: Every public board of the profile. Pinterest rejects publishing to a secret board, so secret boards are omitted rather than returned and refused later.
          items:
            $ref: '#/components/schemas/PinterestBoardOpenItem'
      description: Boards of a Pinterest profile
  securitySchemes:
    bearerAuth:
      type: apiKey
      name: X-API-KEY
      in: header
    HookSignature:
      description: 'The signature of the webhook request, used to verify the authenticity of the request.

        The signature is a SHA256 HMAC signature computed on the request body using the shared secret from your webhook subscription.

        '
      type: apiKey
      name: X-Hook-Signature
      in: header
x-tagGroups:
- name: Account & Workspaces
  tags:
  - Organizations
  - Workspaces
  - Profiles
  - Groups
- name: Publishing
  tags:
  - Drafts
  - Calendar notes
  - Pinterest boards
- name: Content Library
  tags:
  - Media
- name: Inbox & Engagement
  tags:
  - Conversations
  - Items
  - Replies
- name: Analytics & Reporting
  tags:
  - Reports
- name: System
  tags:
  - Health
