openapi: 3.2.0
info:
  title: Agorapulse Workspaces API
  description: '# Agorapulse API


    Welcome to the Agorapulse API.'
  version: '1.0'
  contact:
    name: Agorapulse API Support
    url: https://www.agorapulse.com
    email: support@agorapulse.com
  x-logo:
    url: docs/img/logo.svg
    altText: Agorapulse
servers:
- url: https://api.agorapulse.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Workspaces
  description: Workspaces group the social profiles you manage inside an organization.
paths:
  /v1.0/core/organizations/{organizationId}/workspaces:
    get:
      tags:
      - Workspaces
      summary: Get organization workspaces
      description: List all the workspaces in an organization
      operationId: getOrganizationWorkspaces
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: API version
        schema:
          type: string
      responses:
        '200':
          description: List of all workspaces in the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResponse'
components:
  schemas:
    WorkspaceListResponse:
      required:
      - workspaces
      type: object
      properties:
        workspaces:
          type: array
          items:
            $ref: '#/components/schemas/WorkspaceResponse_1'
      description: List of workspaces
    WorkspaceResponse_1:
      required:
      - organizationId
      - workspaceId
      - workspaceName
      type: object
      properties:
        workspaceId:
          type: integer
          format: int64
        workspaceName:
          type: string
        organizationId:
          type: integer
          format: int64
      description: Single workspace
  securitySchemes:
    bearerAuth:
      type: apiKey
      name: X-API-KEY
      in: header
    HookSignature:
      description: 'The signature of the webhook request, used to verify the authenticity of the request.

        The signature is a SHA256 HMAC signature computed on the request body using the shared secret from your webhook subscription.

        '
      type: apiKey
      name: X-Hook-Signature
      in: header
x-tagGroups:
- name: Account & Workspaces
  tags:
  - Organizations
  - Workspaces
  - Profiles
  - Groups
- name: Publishing
  tags:
  - Drafts
  - Calendar notes
  - Pinterest boards
- name: Content Library
  tags:
  - Media
- name: Inbox & Engagement
  tags:
  - Conversations
  - Items
  - Replies
- name: Analytics & Reporting
  tags:
  - Reports
- name: System
  tags:
  - Health
