openapi: 3.2.0
info:
  title: Agorapulse Profiles API
  description: '# Agorapulse API


    Welcome to the Agorapulse API.'
  version: '1.0'
  contact:
    name: Agorapulse API Support
    url: https://www.agorapulse.com
    email: support@agorapulse.com
  x-logo:
    url: docs/img/logo.svg
    altText: Agorapulse
servers:
- url: https://api.agorapulse.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Profiles
  description: The connected social profiles within a workspace.
paths:
  /v1.0/core/organizations/{organizationId}/workspaces/{workspaceId}/profiles:
    get:
      tags:
      - Profiles
      summary: Get workspace profiles
      description: List all profiles in a workspace
      operationId: getWorkspaceProfiles
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: Workspace id
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: API version
        schema:
          type: string
      responses:
        '200':
          description: List of the profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResponse'
components:
  schemas:
    SocialNetworkChannel:
      type: string
      enum:
      - FACEBOOK_PAGE
      - FACEBOOK_INSTAGRAM
      - LINKEDIN_PERSONAL
      - LINKEDIN_COMPANY
      - TIKTOK
      - TWITTER
      - GOOGLE
      - YOUTUBE
      - PINTEREST
      - THREADS
      - BLUESKY
    ProfileListResponse:
      required:
      - profiles
      type: object
      properties:
        profiles:
          type: array
          items:
            $ref: '#/components/schemas/ProfileResponse_1'
    ProfileResponse_1:
      required:
      - profileName
      - profileType
      - profileUid
      - socialNetworkId
      - workspaceId
      type: object
      properties:
        profileUid:
          type: string
        profileName:
          type: string
        profileType:
          $ref: '#/components/schemas/SocialNetworkChannel'
        socialNetworkId:
          type: string
        workspaceId:
          type: integer
          format: int64
  securitySchemes:
    bearerAuth:
      type: apiKey
      name: X-API-KEY
      in: header
    HookSignature:
      description: 'The signature of the webhook request, used to verify the authenticity of the request.

        The signature is a SHA256 HMAC signature computed on the request body using the shared secret from your webhook subscription.

        '
      type: apiKey
      name: X-Hook-Signature
      in: header
x-tagGroups:
- name: Account & Workspaces
  tags:
  - Organizations
  - Workspaces
  - Profiles
  - Groups
- name: Publishing
  tags:
  - Drafts
  - Calendar notes
  - Pinterest boards
- name: Content Library
  tags:
  - Media
- name: Inbox & Engagement
  tags:
  - Conversations
  - Items
  - Replies
- name: Analytics & Reporting
  tags:
  - Reports
- name: System
  tags:
  - Health
